[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
aioresponses = "*"
pytest = "*"
alt-pytest-asyncio = "*"
yapf = "*"
pytest-watch = "*"
pook = {editable = true,git = "git://github.com/yuanfeiz/pook.git"}

[packages]
aiohttp = "*"
tenacity = "*"
cachetools = "*"
asyncache = "*"

[requires]
python_version = "3.8"
