[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pysocks = "*"
aioresponses = "*"
pytest = "*"
alt-pytest-asyncio = "*"
yapf = "*"
pytest-watch = "*"

[packages]
aiohttp = "*"
tenacity = "*"
cachetools = "*"
asyncache = "*"

[requires]
python_version = "3.8"
